extends layout

block content
	h1 Products
	p Welcome to the product page

	.table-responsive
		.table-responsive
			table.table.table-hover
				thead
					tr.active
						th(width='200') Title
						th(width='800') Description
						th(width='200') Price	
				tbody
					each product in products
						tr
							td #{product.title}
							td #{product.description}
							td #{product.price}							
